<section class="project-section py-3">
	<h3 class="text-uppercase resume-section-heading mb-4">ACHIEVEMENTS</h3>
  <div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate Of Completion Super AI Engineer Season 3 “Foundation AI(Theory)”</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end theme-link">
				<a href="https://coursera.org/share/5f20b8276da888f7f26eb49b78f28cc8">See more</a>
			</div>
		</div>
		<div class="item-content">
			<p>Successfully Completed Super AI Engineer Season 3 “Foundation AI(Theory)”, Issue Jan 2023</p>
		</div>
	</div>
  <!--//item-->
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate Of Completion AWS Cloud Technical Essentials</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end theme-link">
				<a href="https://coursera.org/share/5f20b8276da888f7f26eb49b78f28cc8">See more</a>
			</div>
		</div>
		<div class="item-content">
			<p>Successfully Completed AWS Cloud Technical Essentials by Amazon Web Services on Coursera, Issue Jan 2022</p>
		</div>
	</div>
	<!--//item-->
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate Of Completion Web Development Bootcamp 2022</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end theme-link">
				<a href="https://www.udemy.com/certificate/UC-74514994-f90f-43f3-8427-e3d3f97d4969/">See more</a>
			</div>
		</div>
		<div class="item-content">
			<p>Successfully Completed the course The Complete 2022 Web Development Bootcamp by Dr.Angela Yu on Udemy, Issue Nov 2021</p>
		</div>
	</div>
	<!--//item-->
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate Of Completion WEB DESIGN(FIGMA) BASIC HACKaTHAILAND</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end theme-link">
				<a href="https://www.dropbox.com/s/vsi05644guldkes/certificate-Web-Design-Figma-Web-DesignFigma-Basic-HACKaTHAILAND.pdf?dl=0">See more</a>
			</div>
		</div>
		<div class="item-content">
			<p>Successfully Completed WEB DESIGN(FIGMA) BASIC by Digital Economy Promotion Agency(depa) on HACKaTHAILAND, Issue Jan 2022</p>
		</div>
	</div>
	<!--//item-->
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate Of Completion SMART FARM BASIC HACKaTHAILAND</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end theme-link">
				<a href="https://www.dropbox.com/s/hv0hqoj86ng55za/certificate-Smart-Farm-Smart-Farm-Basic-HACKaTHAILAND.pdf?dl=0">See more</a>
			</div>
		</div>
		<div class="item-content">
			<p>Successfully Completed SMART FARM BASIC by Digital Economy Promotion Agency(depa) on HACKaTHAILAND, Issue Jan 2022</p>
		</div>
	</div>
	<!--//item-->
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate Of Completion Robotic Process Automation (RPA)</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end theme-link">
				<a href="https://www.dropbox.com/home/Certificate?preview=certificate-of-completion-for-robotic-process-automation-rpa-young-blood-e-learning-by-stelligence-and-automation-anywhere.pdf">See more</a>
			</div>
		</div>
		<div class="item-content">
			<p>Successfully Completed The Course Robotic Process Automation (RPA) Young blood E-Learning by STelligence and Automation Anywhere, Issue Oct 2021</p>
		</div>
	</div>
	<!--//item-->
	<div class="item">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate of Achievement R fundamental for Data Visualization</h4>
		</div>
		<div class="item-content">
			<p>Successfully completing Introduction to R, Data Manipulation with dplyr, Reshaping Data with tidyr, Introduction to Data Visualization with ggplot2, Intermediate Data Visualization with ggplot2, Data Visualization with R Track, Correlation and Regression in R, Intermediate Regression in R, By Datacamp, Issue May 2021</p>
		</div>
	</div>
	<!--//item-->
	<div class="item">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Training attendance certificate Big Data Analytic Workshop</h4>
		</div>
		<div class="item-content">
			<p>I received training in Big Data Analytic Workshop, By Startup Thailand, Thai Programmer and NXPO, Issue Jul 2019</p>
		</div>
	</div>
	<!--//item-->
	<div class="item">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Certificate of participation Game of Founder 2020</h4>
		</div>
		<div class="item-content">
			<p>In recognition of successful participation as "staff" for Game of Founder Project (entrepreneurship), Issue Nov 2020</p>
		</div>
	</div>
	<!--//item-->
</section>
<!--//project-section-->