<section class="work-section py-3">
	<h3 class="text-uppercase resume-section-heading mb-4">VOLUNTEER EXPERIENCE</h3>
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Staff for Games of Founder BootCamp</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
				Young Entrepreneur Assembly Hub (Thailand) 06/2020 - 11/2020</div>
		</div>
		<div class="item-content">
			<p>I'm staff. I'm in charge of purchasing and designing all of the event's equipment and locations.</p>
		</div>
	</div>
	<!--//item-->
	<div class="item mb-3">
		<div class="item-heading row align-items-center mb-2">
			<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Admin for CPE KMUTT Admission</h4>
			<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
				CPE KMUTT Admission <br> 09/2019 - 12/2019</div>
		</div>
		<div class="item-content">
			<p>I'm Admin. I have designed various posters and artworks to publicize about admission and activities.</p>
		</div>
	</div>
	<!--//item-->
</section>
<!--//work-section-->